In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_csv('data/properati-AR-2017-08-01-properties-sell.csv')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187482 entries, 0 to 187481
Data columns (total 27 columns):
id                            187482 non-null object
created_on                    187482 non-null object
operation                     187482 non-null object
property_type                 187482 non-null object
place_name                    187447 non-null object
place_with_parent_names       187482 non-null object
country_name                  187482 non-null object
state_name                    187482 non-null object
geonames_id                   158318 non-null float64
lat-lon                       118761 non-null object
lat                           118761 non-null float64
lon                           118761 non-null float64
price                         154443 non-null float64
currency                      154441 non-null object
price_aprox_local_currency    154443 non-null float64
price_aprox_usd               154443 non-null float64
surface_total_in_m2           125027 non-null float64
surface_covered_in_m2         152420 non-null float64
price_usd_per_m2              105024 non-null float64
price_per_m2                  131665 non-null float64
floor                         14294 non-null float64
rooms                         80320 non-null float64
expenses                      17520 non-null float64
properati_url                 187482 non-null object
description                   187473 non-null object
title                         187482 non-null object
image_thumbnail               182814 non-null object
dtypes: float64(13), object(14)
memory usage: 38.6+ MB

### Depuracion de datos

In [9]:
data['created_on'] = pd.to_datetime(data['created_on'])

In [13]:
data.title.head()

0                        CASA EN VENTA
1                        CASA EN VENTA
2    DTO. 2 AMB. C/ VISTA PLENA AL MAR
3                     CHALET EN VENTA
4                        CASA EN VENTA
Name: title, dtype: object

In [3]:
data_c = pd.read_csv('data/comisarias-policia-de-la-ciudad.csv',sep = ";",error_bad_lines= False)

In [6]:
data_c.BARRIO.value_counts()

PALERMO              5
BALVANERA            4
BARRACAS             3
CABALLITO            3
VILLA URQUIZA        3
CONSTITUCION         2
RECOLETA             2
VILLA LUGANO         2
CHACARITA            2
RETIRO               2
PARQUE PATRICIOS     2
BELGRANO             2
SAN TELMO            2
SAN NICOLAS          2
FLORES               2
SAAVEDRA             1
VILLA LURO           1
VILLA GRAL. MITRE    1
FLORESTA             1
PARQUE AVELLANEDA    1
ALMAGRO              1
BOEDO                1
VILLA DEVOTO         1
PUERTO MADERO        1
SAN CRISTOBAL        1
BOCA                 1
MONSERRAT            1
NUÃ‘EZ               1
VILLA PUEYRREDON     1
VILLA SOLDATI        1
VERSALLES            1
VILLA CRESPO         1
MATADEROS            1
NUEVA POMPEYA        1
Name: BARRIO, dtype: int64