In [18]:
import glob
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [44]:
allFiles = glob.glob("data/*.csv")
allFiles.sort(reverse=True)
frame = pd.DataFrame()
frames_list = []
for file_ in allFiles:
    print('procesando archivo: ' + file_)
    df = pd.read_csv(file_)
    df['created_on'] = pd.to_datetime(df['created_on'])
    end = df.created_on.sort_values().tail(1).iloc[0]
    begin_idx = df.created_on.searchsorted(end + relativedelta(months=-6))
    begin = df.loc[begin_idx,'created_on'].iloc[0]
    df = df.loc[df['created_on'].apply(lambda date: begin <= date <= end),:]
    frames_list.append(df)
frame = pd.concat(frames_list)

procesando archivo: data/properati-AR-2017-08-01-properties-sell.csv
2017-08-01 00:00:00
2017-02-01 00:00:00
procesando archivo: data/properati-AR-2017-02-01-properties-sell.csv
2017-02-28 00:00:00
2016-08-28 00:00:00
procesando archivo: data/properati-AR-2016-08-01-properties-sell.csv
2016-08-31 00:00:00
2016-02-29 00:00:00
procesando archivo: data/properati-AR-2016-02-01-properties-sell.csv
2016-02-29 00:00:00
2015-08-29 00:00:00
procesando archivo: data/properati-AR-2015-08-01-properties-sell.csv
2015-07-31 00:00:00
2015-01-31 00:00:00
procesando archivo: data/properati-AR-2015-02-01-properties-sell.csv
2015-01-31 00:00:00
2014-07-31 00:00:00
procesando archivo: data/properati-AR-2014-08-01-properties-sell.csv
2014-07-31 00:00:00
2014-01-31 00:00:00
procesando archivo: data/properati-AR-2014-02-01-properties-sell.csv
2014-01-31 00:00:00
2013-07-31 00:00:00
procesando archivo: data/properati-AR-2013-08-01-properties-sell.csv
2013-08-28 00:00:00
2013-02-28 00:00:00

In [48]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495575 entries, 66107 to 56417
Data columns (total 29 columns):
country_name                  254257 non-null object
created_on                    495575 non-null datetime64[ns]
currency                      404734 non-null object
description                   333973 non-null object
expenses                      30270 non-null object
extra                         79727 non-null object
floor                         60606 non-null float64
geonames_id                   421492 non-null float64
id                            254257 non-null object
image_thumbnail               481275 non-null object
lat                           361571 non-null float64
lat-lon                       361571 non-null object
lon                           361568 non-null float64
operation                     495575 non-null object
place_name                    495520 non-null object
place_with_parent_names       495575 non-null object
price                         411844 non-null float64
price_aprox_local_currency    411844 non-null float64
price_aprox_usd               411844 non-null float64
price_per_m2                  179287 non-null float64
price_usd_per_m2              273486 non-null float64
properati_url                 495575 non-null object
property_type                 495575 non-null object
rooms                         280343 non-null float64
state_name                    254257 non-null object
surface_covered_in_m2         208333 non-null float64
surface_in_m2                 168246 non-null float64
surface_total_in_m2           171247 non-null float64
title                         333984 non-null object
dtypes: datetime64[ns](1), float64(13), object(15)
memory usage: 123.4+ MB